<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Python Script Interface</title>
    <script>

    </script>
</head>
<body>
    <div class="start-container">
        <button class="start-button" onclick="redirectToGame()">
            <span>Play Little Alchemy 2</span>
            <span>with </span>
            <span>a Large Language Model</span>
        </button>
    </div>

    <div class="container" style="display: none;">
        <div class="chat-container">
            <div id="humanInfoBox" class="chat-box">
                <!-- Chat messages will appear here -->
            </div>
            <div class="chat-input-container">
                <input type="text" id="userInput1" class="chat-input" placeholder="Type your first message here..." />
                <input type="text" id="userInput2" class="chat-input" placeholder="Type your second message here..." />
                <button class="play-button" onclick="updateState()">Play</button>
            </div>
        </div>

        <div class="additional-fields">
            <h2>LLM player</h2>
            <p id="startGameField">Start Game Field:</p>
            <p>LLM game state:</p>
            <span id="chatBox"></span>
        </div>
    </div>
</body>
</html>